<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
</head>

<body>

  <body>
    <div style="background-color: dodgerblue; max-width: 840px; margin: 0; padding: 30px;">
      <h1 style="color: #ffffff; text-align: center">Olá {{ name }},</h1>
      <p style="color: #ffffff;">
        A senha da sua Conta do MeFormei {{ email }} foi alterada.
      </p>
      <p style="color: #ffffff;">
        Se você não fez essa alteração, <a style="text-decoration: none; color:rgb(20, 54, 247))3, 145)"
          href="{{urlFront}}/recuperar-senha?search={{email}}">recupere sua conta</a>.
      </p>
    </div>

  </body>
</body>


</html>