<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/changed-password.css">
  <title>Message</title>
</head>

<body>

  <body>
    <div class="container">
      <h1>Olá {{ userName }},</h1>
      <p>
        A senha da sua Conta do MeFormei {{ email }} foi alterada.
      </p>
      <p>
        Se você não fez essa alteração, <a style="text-decoration: none; color:rgb(38, 137, 230))3, 145)"
          href=`{{url_front}}/recover-password?search={{email}}`>recupere sua conta</a>.
      </p>
    </div>

  </body>
</body>
<style>
  .container {
    display: flex;
    padding: 2em;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: dodgerblue;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    row-gap: 21;
  }
</style>

</html>